{
  "ecmaFeatures": {
    "jsx": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  rules: {
    "quotes": [1, "single", "avoid-escape"],
    "react/display-name": 2,
    "strict": 0
  }
}
